[submodule "extern/httplib"]
	path = extern/httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "extern/luau"]
	path = extern/luau
	url = https://github.com/luau-lang/luau
[submodule "extern/nlohmannjson"]
	path = extern/nlohmannjson
	url = https://github.com/nlohmann/json
