CompileFlags:
  Add:
    # luau
    - "-I../luau/VM"
    - "-I../luau/Compiler"
    - "-I../luau/CodeGen"
    - "-I../luau/VM/include"
    - "-I../luau/Compiler/include"
    - "-I../luau/CodeGen/include"
    - "-I../luau/CLI/include"
    - "-I../luau/Config/include"
    - "-I../luau/Common/include"
    - "-I../luau/Ast/include"
